@model PQRSenvio.Web.Data.Entities.Category

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Is_Active" /> @Html.DisplayNameFor(model => model.Is_Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_by_id" class="control-label"></label>
                <input asp-for="created_by_id" class="form-control" />
                <span asp-validation-for="created_by_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_at" class="control-label"></label>
                <input asp-for="modified_at" class="form-control" />
                <span asp-validation-for="modified_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_by_id" class="control-label"></label>
                <input asp-for="modified_by_id" class="form-control" />
                <span asp-validation-for="modified_by_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="deleted" /> @Html.DisplayNameFor(model => model.deleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
