@model PQRSenvio.Web.Data.Entities.Detail

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="is_active" /> @Html.DisplayNameFor(model => model.is_active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Desription" class="control-label"></label>
                <input asp-for="Desription" class="form-control" />
                <span asp-validation-for="Desription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_by_id" class="control-label"></label>
                <input asp-for="created_by_id" class="form-control" />
                <span asp-validation-for="created_by_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_at" class="control-label"></label>
                <input asp-for="modified_at" class="form-control" />
                <span asp-validation-for="modified_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_by_id" class="control-label"></label>
                <input asp-for="modified_by_id" class="form-control" />
                <span asp-validation-for="modified_by_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="deleted" /> @Html.DisplayNameFor(model => model.deleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
